<div class="effects__container">
  <div class="effects__header">
    <span class="accent">Wybierz</span> efekt
  </div>
  <ul>
    <li><i class="fa fa-power-off" (click)="reverb()" [ngClass]="{'highlitedButton': reverbOn}"></i><span class="option">
      <a routerLink="/reverb">Reverb</a></span></li>
    <li><i class="fa fa-power-off" (click)="delay()" [ngClass]="{'highlitedButton': delayOn}"></i><span class="option">
        <a routerLink="/delay">Delay</a></span></li>
    <li><i class="fa fa-power-off" (click)="flanger()" [ngClass]="{'highlitedButton': flangerOn}"></i><span class="option">
        <a routerLink="/flanger">Flanger</a></span></li>
    <li><i class="fa fa-power-off" (click)="distortion()" [ngClass]="{'highlitedButton': distortionOn}"></i><span class="option">
        <a routerLink="/distortion">Distortion</a></span></li>
  </ul>
</div>
