<div class="app__container">
  <div class="app__header">
    <span class="accent">Audio</span>Effects
  </div>
  <div class="flex-grid">
    <div class="col">
      <app-effects></app-effects>
    </div>
    <div class="col">
      <app-panel></app-panel>
    </div>
    <div class="col">
      <div class="customization__header">
        <span class="accent">Ustaw</span> parametry
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <footer>Made by Patryk Bielecki</footer>
</div>
