.flex-grid {
  display: flex;
}

.flex-grid .col {
  flex: 1;
}

.app__header {
  padding: 30px 0 0 30px;
  box-shadow: 0 8px 8px -8px #ffa647;
  font-size: 35px;
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 30px;
  right: 20px;
  font-size: 12px;
}

.customization__header {
  font-weight: bolder;
  font-size: 25px;
  padding: 100px 0 0 70px;
}
