<div class="customization__container">
  <div class="customization__header">
    <span class="accent">Personalizuj</span> flanger
  </div>
  <div class="customization__customize">
    <div class="customization__option">
      <div>Time:</div>
      <input type="range" min="1" max="10" value="{{flangerTime}}" class="slider" id="flangerTime" (change)="changeFlangerTime()">
      <span>{{flangerTime}} s.</span>
    </div>
    <div class="customization__option">
      <div>Speed:</div>
      <input type="range" min="1" max="10" value="{{flangerSpeed}}" class="slider" id="flangerSpeed" (change)="changeFlangerSpeed()">
      <span>{{flangerSpeed}} s.</span>
    </div>
    <div class="customization__option">
      <div>Mix:</div>
      <input type="range" min="0.1" max="1.0" step="0.1" value="{{flangerMix}}" class="slider" id="flangerMix" (change)="changeFlangerMix()">
      <span>{{flangerMix}} s.</span>
    </div>
    <div class="customization__option">
      <div>Depth:</div>
      <input type="range" min="0.1" max="1.0" step="0.1" value="{{flangerDepth}}" class="slider" id="flangerDepth" (change)="changeFlangerDepth()">
      <span>{{flangerDepth}} s.</span>
    </div>
    <div class="customization__option">
      <div>Feedback:</div>
      <input type="range" min="0.1" max="1.0" step="0.1" value="{{flangerFeedback}}" class="slider" id="flangerFeedback" (change)="changeFlangerFeedback()">
      <span>{{flangerFeedback}} s.</span>
    </div>
  </div>
</div>
